* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "나눔스퀘어",'Franklin Gothic Book';
    font-weight: 900;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrap {
    width:100%;
    position: relative;
}

section {
    width: 100%;
    margin-bottom: 200px;
    color: #3e526a;
}

/*공통영역 end*/

button.top-btn{
    width: 60px;
    height: 60px;
    border:0px;
    border-radius: 50%;
    color:#fff;
    background-color: #00358d;
    position: fixed;
    z-index:900;
    bottom:30px;
    right:30px;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.2));
}

/* top button end */

/* header start */
header {
    width: 100%;
    height: 140px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    transition: all 0.3s;
}

header .util-wrapper {
    width: 100%;
    height: 30px;
    background-color: #00358d;
    position: relative;
    font-weight: 100;
}

header .util-inner,
header .nav-inner {
    width: 1200px;
    margin: 0 auto;
}

header .util-inner {
    height: 100%;
    display: flex;
    justify-content: right;
}

header .util-menu {
    line-height: 30px;
    display: flex;
    justify-content: center;
}

header .util-menu li {
    font-size: 13px;
    margin-left: 30px;
    color: #ccc;
}

/*util_wrap end*/

header .gnb-wrapper{
    width: 100%;
    height: 110px;
    position: relative;
    margin: 0 auto;
}

header .nav-wrapper {
    width: 100%;
    height: 30px;
    position: relative;
}

header .nav-inner{
    display: flex;
    justify-content: space-between;
}

header .sns-menu {
    font-size: 0px;
}

header .search-menu {
    font-size: 0px;
}

header .nav-wrapper li {
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.2s;
}


header .sns-menu li {
    margin-right: 10px;
}

header .nav-wrapper i {
    font-size: 24px;
    color: #00358d;
    text-align: center;
    line-height: 30px;
}

header .search-menu li:first-child {
    margin-right: 10px;
}

header .nav-wrapper li:hover{
    opacity: 0.6;
}

/*nav_wrap end*/

/* logo start */
header .logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1000;
    margin-left: -129px;
}

header .logo img {
    width: 258px;
}

header .logo .header--mini {
    display: none;
}

/* logo end */

/* main menu start */
header .menu-wrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

header .main-menu {
    font-size: 0px;
}

header .main-menu>li {
    color: #00358d;
    font-size: 25px;
    font-family: 'Franklin Gothic Book';
    font-weight: 500;
    display: inline-block;
    margin-right: 100px;
    position: relative;
}

header .main-menu>li:nth-child(2) {
    margin-right: 438px;
}

header .main-menu>li:last-child {
    margin-right: 0px;
}

header .main-menu>li:after{
    content:'';
    display: block;
    width: 100%;
    height: 2px;
    background-color:#00358d; 
    transform: scaleX(0);
    transition-duration: 0.2s;
}

header .main-menu>li:hover:after{
    transform: scaleX(1);
}

/* main menu end */

/* sub menu start */
header .sub-menu {
    width: 120px;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 30px;
    left:50%;
    transform:translate(-50%, 15px);
    transition-duration: 0.2s;
}

header .sub-menu>li {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
}

header .main-menu li:hover .sub-menu{
    display: block;
    transform:translate(-50%, 0px)
}

/* sub menu end */

/* 스크롤 작동시 헤더 변형 */

header.on-scroll {
    position: fixed;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

header.on-scroll .gnb-wrapper{
    height: 50px;
}

header.on-scroll .nav-wrapper {
    display: none;
}

header.on-scroll .logo {
    width: 200px;
    left: 0;
    margin-left: 50px;
}

header.on-scroll img.header--wide {
    display: none;
}

header.on-scroll img.header--mini {
    display: block;
    width: 150px;
}

header.on-scroll .menu-wrapper {
    right: 0px;
    height: 100%;
}

header.on-scroll .main-menu>li {
    font-size: 20px;
    color: #555555;
    margin-right: 60px;
    line-height: 48px;
}

header.on-scroll .main-menu>li:hover>a{
    color:#00358d;
}

header.on-scroll .main-menu>li:last-child {
    margin-right: 0px;
}

header.on-scroll .main-menu>li:after{
    background-color: #00358d;
}

header.on-scroll .sub-menu {
    width: 120px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 50%;
    opacity: 0;
    transform:translate(-50%, 15px);
    transition-duration: 0.2s;
}

header.on-scroll .sub-menu>li {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
}

header.on-scroll .main-menu li:hover .sub-menu{
    opacity: 1;
    transform:translate(-50%, 0px)
}

/* header end */
/* section1 start */

.sec_01 {
    height: 730px;
}

.sec_01 .sec-inner {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.sec_01 .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    text-indent: -10000px;
}

.sec_01 .slick-prev {
    left: 20px;
    background: rgba(0, 0, 0, 0.1) url(../img/prev_arrow.png) no-repeat center top/100%;
}

.sec_01 .slick-next {
    right: 20px;
    background: rgba(0, 0, 0, 0.1) url(../img/next_arrow.png) no-repeat center top/100%;
}

.sec_01 .slick-dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.sec_01 .slick-dots li {
    display: inline-block;
    margin-right: 18px;
}

.sec_01 .slick-dots li button {
    text-indent: -99999px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 10px;
    height: 10px;
    border: none;
    transition: all 0.3s;
}

.sec_01 .slick-dots li:last-child {
    margin-right: 0px;
}

.sec_01 .slick-dots li.slick-active button {
    background-color: #00358d;
    width: 60px;
}

.sec_01 .main-banner {
    height: 730px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sec_01 .banner-inner {
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sec_01 .banner-textbox {
    position: absolute;
    top: 50%;
    left: 10%;
}

.sec_01 .banner-textbox .bold {
    color: #00358d;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 10px;
}

.sec_01 .banner-textbox h3,
.sec_01 .banner-textbox p {
    overflow: hidden;
}

.sec_01 .banner-textbox span {
    transition-delay: 0.4s;
    transition: all 0.6s;
    position: relative;
    top: 50px;
}

.sec_01 .main-banner.slick-active span {
    top: 0;
}

.sec_01 .banner-textbox .light {
    color: #373a3e;
    font-weight: 600;
    font-size: 20px;
}

.sec_01 .view-more {
    position: absolute;
    top: 66%;
    left: 10%;
    background-color: #00358d;
}

.sec_01 .view-more a{
    display: block;
    padding: 15px;
}

.sec_01 .view-more span:first-child {
    display: inline-block;
    color: #ccc;
    background-color: #00358d;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 100;
    transition: transform 0.3s;
}

.sec_01 .view-more span:last-child{
    display: inline-block;
    width: 34px;
    height: 10px;
}

.sec_01 .view-more span:last-child img{
    width: 100%;
}

.sec_01 .view-more:hover span:first-child{
    transform:translateX(50px);
}

.sec_01 .banner-img {
    position: absolute;
}

.sec_01 .ban01 {
    background-image: url(../img/sec1_banner_bg_1.jpg);
}

.sec_01 .ban02 {
    background-image: url(../img/sec1_banner_bg_2.jpg);
}

.sec_01 .ban03 {
    background-image: url(../img/sec1_banner_bg_3.jpg);
}

.sec_01 .ban01 .banner-img {
    top: 10%;
    right: 0%;
}

.sec_01 .ban02 .banner-img {
    top: 25%;
    right: 8%;
}

.sec_01 .ban03 .banner-img {
    top: 10%;
    right: 0%;
}

/* section1 end */
/* section2 start */
.sec_02,
.sec_02 .textbox,
.sec_02 .soup-pic,
.sec_02 .ingrediant_wrap{
    position: relative;
}

.sec_02 .textbox,
.sec_02 .soup-pic,
.sec_02 .ingrediant-wrap{
    z-index: 100;
}

.sec_02 .textbox {
    margin-bottom: 80px;
}

.sec_02 .textbox .bold {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 0.3s;
}

.sec_02 .textbox .light {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 0.3s;
    transition-delay: 0.4s;
}

.sec_02 .soup-pic {
    text-align: center;
    margin-bottom: 50px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-delay: 0.8s;
}

.sec_02 .textbox.fade .bold,
.sec_02 .textbox.fade .light,
.sec_02 .soup-pic.fade,
.sec_02 .ingredient.fade
{
    opacity: 1;
    transform: translateY(0);
} 

.sec_02 .ingredient-wrap {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sec_02 .ingredient {
    margin-right: 35px;
    opacity: 0;
    transform: translateY(50%);
    transition-duration: 0.3s;
}

.sec_02 .ingredient:first-child{
    transition-delay: 0.1s;
}

.sec_02 .ingredient:nth-child(2){
    transition-delay: 0.2s;
}

.sec_02 .ingredient:nth-child(3){
    transition-delay: 0.3s;
}

.sec_02 .ingredient:nth-child(4){
    transition-delay: 0.4s;
}

.sec_02 .ingredient:last-child {
    margin-right: 0px;
    transition-delay: 0.5s;
}

.sec_02 .ingredient .img-box {
    width: 115px;
    height: 115px;
    margin: 0 auto 15px;
    background-color: #e1e1e1;
    border-radius: 50%;
    position: relative;
}

.sec_02 .ingredient .img-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec_02 .ingredient h4{
    font-size: 18px;
    font-weight: 600;
}

.sec_02 .ingredient h5{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.sec_02:before,
.sec_02:after{
    content: '';
    width: 1171px;
    height: 268px;
    background-image: url(../img/all_one.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
}

.sec_02:before{
    top: 50px;
    left:0px;
}

.sec_02:after{
    bottom: 200px;
    right:0px;
}

/* section2 end */
/* section3 start */

.sec_03 {
    width: 100%;
    background-color: #e1e2e6;
    transform: scaleX(0);
    transition-duration: 0.5s;
    transform-origin: left center;
}

.sec_03.swipe{
    transform: scaleX(1);
}

.sec_03 .sec-inner {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
    color: #313131;
}

.sec_03 .sec-inner:after {
    content: '';
    display: block;
    clear: both;
}

.sec_03 .color-box {
    width: 500px;
    height: 424px;
    float: left;
    background-color: #00358d;
    margin: 0px 50px;
    transform: scaleX(0);
    transform-origin: left center;
    transition-duration: 0.3s;    
    overflow: hidden;
}

.sec_03 .color-box.swipe{
    transform: scaleX(1);
}

.sec_03 .img-box{
    width: 500px;
    height: 0px;
    background:url(../img/sec3_picture.png) no-repeat center top/100%;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transform-origin: center;
}

.sec_03 .img-box.swipe{
    height: 424px;
    transform: scale(1);
}

.sec_03 .textbox {
    width: 550px;
    float: left;
    padding-top: 30px;
}

.sec_03 .title01 {
    font-size: 25px;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.3s;
    transition-delay: 0.8s;
}

.sec_03 .title02 {
    font-size: 19px;
    font-weight: 600;
    line-height: 35px;
    opacity: 0;
    transform: translateY(50%);
    transition-duration: 0.3s;
    transition-delay: 1.1s;
}

.sec_03 .bronner {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    text-align: right;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(50%);
    transition-duration: 0.3s;
    transition-delay: 1.4s;
}

.sec_03 .light {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    opacity: 0;
    transform: translateY(20%);
    transition-duration: 0.3s;
    transition-delay: 1.7s;
}

.sec_03 .title01.fade,
.sec_03 .title02.fade,
.sec_03 .bronner.fade,
.sec_03 .light.fade{
    opacity: 1;
    transform: translateY(0);
}

.sec_03 .light span{
    width:100%;
    color:#fff;
    background: #00358d;
}

/* section3 end */
/* section4 start */

.sec_04 .sec-inner{
    width: 1200px;
    margin: 0px auto;
}

.sec_04 .textbox {
    margin-bottom: 60px;
    text-align: center;
}

.sec_04 .textbox h2 {
    font-size: 37px;
    margin-bottom: 30px;
    font-weight: 700;
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 0.3s;
}

.sec_04 .textbox h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}

.sec_04 .textbox h2.fade,
.sec_04 .textbox h5.fade{
    opacity: 1;
    transform: translateY(0);
}

.sec_04 .product-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sec_04 .product {
    width: 350px;
    margin-right: 65px;
    text-align: center;
    opacity: 0;
    transform: translateY(30%);
    transition-duration: 0.3s;
    overflow: hidden;
}

.sec_04 .product:first-child{
    transition-delay: 0.4s;
}

.sec_04 .product:nth-child(2){
    transition-delay: 0.6s;
    position: relative;
    top: 50px;
}

.sec_04 .product:last-child{
    transition-delay: 0.8s;
    margin-right: 0px;
}

.sec_04 .product.fade{
    opacity: 1;
    transform: translateY(0);
}

.sec_04 .product:hover img.hover{
    opacity: 1;
} 

.sec_04 .product:hover .prd-name:after{
    transform: scaleX(1);
}

.sec_04 .prd-pic {
    width: 100%;
    height: 350px;
    position: relative;
    margin-bottom: 15px;
}

.sec_04 .prd-pic img.active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec_04 .prd-pic img.hover{
    width: 100%;
    position: relative;
    opacity:0;
    transition-duration: 0.2s;
} 

.sec_04 .prd-pic .prd-button{
    position: absolute;
    z-index: 10;
    left:50%;
    bottom: 8%;
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
}

.sec_04 .prd-pic .prd-button li{
    padding:8px;
    font-size:15px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #3e526a;
    opacity: 0.9;
    transform: translateY(30%);
}

.sec_04 .product:hover .prd-button{
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.sec_04 .prd-name {
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    display: inline-block;
}

.sec_04 .prd-name:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #3e526a;
    transform: scaleX(0);
    transition-duration: 0.2s;
}

.sec_04 .prd-sub {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #8e8f91;
    margin: 5px 0px;
}

.sec_04 .prd-price {
    font-size: 24px;
    font-weight: 900;
}

.sec_04 .prd-price span {
    text-decoration: line-through;
    color: #8e8f91;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
}

/* section4 end */
/* section5 start */

.sec_05 {
    height: 350px;
}

.sec_05 .mini-banner-wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sec_05 .slick-dots {
    background-color: dimgray;
    opacity: 0.6;
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 1;
    padding: 8px 12px;
    font-size: 0;
    border-radius: 100px;
}

.sec_05 .slick-arrow {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.sec_05 .slick-dots li {
    margin-right: 20px;
    display: inline-block;
}

.sec_05 .slick-dots li button {
    display: block;
    text-indent: -99999px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    width: 10px;
    height: 10px;
    border: none;
}

.sec_05 .slick-dots li:last-child {
    margin-right: 0;
}

.sec_05 li.slick-active button {
    background-color: white;
}

.sec_05 .mini-banner-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sec_05 .mini-banner:after {
    content: '';
    display: block;
    clear: both;
}

.sec_05 .mini-banner {
    float: left;
}

/*section_5 end*/

.sec_06 .sec-inner{
    width: 1200px;
    margin: 0px auto;
}

.sec_06 h2 {
    font-size: 37px;
    margin-bottom: 80px;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 0.3s;
}

.sec_06 h2.fade{
    opacity: 1;
    transform: translateY(0);
}

.sec_06 .insta-wrap {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.sec_06 .insta-wrap:after {
    content: '';
    display: block;
    clear: both;
}

.sec_06 .insta-feed {
    width: 275px;
    height: 272px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #00358d;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transform: translateY(30%);
    transition-duration: 0.3s;
}

.sec_06 .insta-feed:first-child{
    transition-delay: 0.4s;
}

.sec_06 .insta-feed:nth-child(2){
    transition-delay: 0.6s;
}

.sec_06 .insta-feed:nth-child(3){
    transition-delay: 0.8s;
}

.sec_06 .insta-feed:nth-child(4){
    transition-delay: 1.0s;
}

.sec_06 .insta-feed:nth-child(5){
    transition-delay: 1.2s;
}

.sec_06 .insta-feed:nth-child(6){
    transition-delay: 1.4s;
}

.sec_06 .insta-feed:nth-child(7){
    transition-delay: 1.6s;
}

.sec_06 .insta-feed:last-child{
    transition-delay: 1.8s;
}

.sec_06 .insta-feed.fade{
    opacity: 1;
    transform: translateY(0);
}

.sec_06 .insta-feed i {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

.sec_06 .insta-feed img {
    transition-duration: 0.3s;
}

.sec_06 .insta-feed:nth-child(4n) {
    margin-right: 0px;
}

.sec_06 .insta-feed div:nth-child(1n + 4) {
    margin-bottom: 0;
}

.sec_06 .insta-feed img {
    width: 100%;
}

.sec_06 .insta-feed:hover img {
    opacity: 0.4;
}

.sec_06 .insta-feed:hover i {
    display: block;
}

/* section6 end */
/* footer start */

footer {
    background-color: #303030;
    color: #fff;
}

footer .footer-inner {
    width: 1200px;
    margin: 0 auto;
}

footer .footer-top {
    height: 65px;
    padding: 22px 0;
    box-sizing: border-box;
}

footer .footer-nav li {
    display: inline-block;
    margin-right: 40px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

footer .footer-nav li a:hover {
    text-decoration: underline;
}

footer .footer-mid {
    width: 100%;
    font-size: 14px;
    margin: 10px 0px 40px 0px;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
}

footer .footer-mid > div {
    line-height: 25px;
}

footer .com-info img {
    margin: 10px 0;
}

footer .cs-info,
footer .escrow {
    padding-top: 30px;
    box-sizing: border-box;
}

footer .cs-info span {
    font-weight: 600;
    font-size: 18px;
}

footer .escrow p {
    display: inline-block;
}

footer .escrow span {
    font-weight: 400;
    font-size: 16px;
}

footer .escrow img {
    width: 76px;
    height: 76px;
}

footer .footer-btm {
    border-top: 1px solid #fff;
    font-weight: 100;
}

footer .footer-btm p {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
}

/*footer end*/
